{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'core/carousel.html' %}
    
    <div class="container mt-4">
        <h1>Articles récents</h1>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.contain|truncatewords:30 }}</p>
                        <a href="{% url 'articles:article' article.slug %}" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 