{% extends 'template_base.html' %}

{% block page_title %} Contact {% endblock %}
{% block page_title2 %}
<h1>Avez-vous un projet ?</h1>
<p>Prenez contact et faites-moi savoir comment je peux vous aider. Remplissez le formulaire et je vous contacterai dès que possible.</p>

{% endblock %}

{% block contain %}

<div class="container">
<h1>Mon CV</h1>

    <div>
        <h1 class="mb-6">Mon expérience</h1>

        <div class="expérience-formation">
            <div>
                <div>

                </div>
                <div>
                    <ul>
                        
                    </ul>
                </div>

            </div>
            <div>

            </div>

        </div>
    </div>

</div>
        

{% endblock %}