{% extends 'template_base.html' %}

{% block page_title %} Services {% endblock %}
{% block page_title2 %} Mes Services {% endblock %}

{% block contain%}

{% load static %}

<div class="page-body">

    <ul class="service-list">
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/Energyefficiency.jpg" alt="" class="service-pic">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">Efficacité énergétique dans le bâtiment</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/Renewableenergy.jpg" alt="" class="service-pic">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">Energies renouvelables</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/HVAC.jpg" alt="" class="service-pic">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">Génie climatique</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/Archiafrica.jpg" class="service-pic" alt="">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">Architecture</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/Data.jpg" class="service-pic" alt="">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">IT et Data</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    
        <li>
            <a href="" class="service-card">
                <figure class="card-banner">
                    <img src="/media/services/Sustainable.jpg" alt="" class="service-pic">
                </figure>
                <div class="card-contain">
                    <h3 class="card-title">Environnement et développement durable</h3>
                    <p>Description du service ici.</p>
                </div>
            </a>
        </li>
    </ul>

</div>

{% endblock %}